@charset "UTF-8";
@import "tomorrow-night-eighties.min.css";

#lwt-viewer {
    font-size: 14px;
    padding: 0 1rem;
}

#lwt-status-filter {
    display: block;
    max-width: 200px;
}

#lwt-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0rem;

    .lwt-1col, .lwt-2col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.lwt-whoops {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    background-color: white;

    .ellipsis {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .error {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .lwt-1col, .lwt-2col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .error-long {
        overflow: hidden;
        word-wrap: break-word;
        height: 50px;
        transition: height 200ms ease-in-out;

        &:hover {
            height: 100%;
        }
    }

    pre {
        margin: 0;

        &.errorline * {
            background-color: #004765 !important;
        }
    }

    .lwt-tabs {
        display: flex;
        position: relative;
        padding: 1rem;

        &::after {
            content: "";
            width: 100%;
            background-color: #333333;
            height: 1px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 80%;
        }
    }

    .lwt-tab {
        flex: 1;
        border: none;
        outline: none;
        padding: 1rem;
        cursor: pointer;
        border-radius: 10px 10px 0 0;
        background-color: #f5f5f5;

        &:hover {
            border: 1px solid black;
        }
        &.active {
            border: 1px solid black;
            border-bottom: 1px solid white;
            z-index: 1;
            background-color: #fff;
        }

    }

    .lwt-tab-content {
        display: none;
        padding: 1rem;
    }

    #trace-tab {
        #app-only {
            outline: none;
            border: none;
            background: none;
            padding: 0.5rem 0.7rem;
            border-radius: 5px;
            background-color: #f0f0f0;
            cursor: pointer;

            &.active {
                box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.4);
                background-color: #fff;
            }
        }
    }

    .trace-spot {
        .open-spot {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            padding: 1rem;
            background-color: transparent;
            cursor: pointer;
            text-align: left;
            &:hover, &.active {
                background-color: #f5f5f5;
            }

            &.active + .trace-context {
                margin-bottom: 1rem;
            }

            span {
                background-color: #333333;
                color: white;
                border-radius: 5px;
                padding: 0 5px;
                text-align: center;
                line-height: 30px;
                display: inline-block;
                min-width: 30px;
                height: 30px;
                margin-right: 1rem;
            }
        }

        .trace-context {
            overflow: hidden;
            max-height: 0;
            transition: max-height 200ms ease-in-out;
            padding: 0;
            margin: 0;
        }
    }
}

a.lwt-whoops {
    color: black;
    transition: transform 100ms ease-in-out;
    &:hover {
        color: black;
        transform: scale(1.01);
    }
}

.lwt-row {
    margin-bottom: 1rem;
    padding: 1rem 0;
    display: flex;
}

.lwt-1col, .lwt-2col, .lwt-3col, .lwt-4col, .lwt-5col, .lwt-6col, .lwt-7col, .lwt-8col, .lwt-9col, .lwt-10col, .lwt-11col, .lwt-12col {
    padding: 0 1rem;
}

.lwt-1col {
    width: 8.33%;
}

.lwt-2col {
    width: 16.67%;
}

.lwt-3col {
    width: 25%;
}

.lwt-4col {
    width: 33.33%;
}

.lwt-5col {
    width: 41.67%;
}

.lwt-6col {
    width: 50%;
}

.lwt-7col {
    width: 58.33%;
}

.lwt-8col {
    width: 66.67%;
}

.lwt-9col {
    width: 75%;
}

.lwt-10col {
    width: 83.33%;
}

.lwt-11col {
    width: 91.67%;
}

.lwt-12col {
    width: 100%;
}